[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt.git
[submodule ".vim_runtime"]
	path = .vim_runtime
	url = git://github.com/amix/vimrc.git
